Bryan Cazabonne    <Bryan.Cazabonne@csgroup.eu>    <38252479+BryanCazabonne@users.noreply.github.com>
Bryan Cazabonne    <Bryan.Cazabonne@csgroup.eu>    <bryan.cazabonne@c-s.fr>
David Brosius      <dbrosius@apache.org>           <dbrosius@mebigfatguy.com>
Gilles Sadowski    <erans@apache.org>              <erans@apache.org>
Evan Ward          <evan.ward@nrl.navy.mil>        <evanward@apache.org>
Gary D. Gregory    <ggregory@apache.org>           <ggregory@apache.org>
Guilhem Bonnefille <guilhem.bonnefille@csgroup.eu> <guilhem.bonnefille@c-s.fr>
Hank Grabowski     <hankgrabowski@gmail.com>       <hank@applieddefense.com>
Hank Grabowski     <hankgrabowski@gmail.com>       <hankgrabowski@gmail.com>         
Hank Grabowski     <hankgrabowski@gmail.com>       <hankgrabowski@gmail.com>         
Luc Maisonobe      <luc@orekit.org>                <luc@apache.org>
Luc Maisonobe      <luc@orekit.org>                <luc.maisonobe@c-s.fr>
Luc Maisonobe      <luc@orekit.org>                <luc.maisonobe@csgroup.eu>
Luc Maisonobe      <luc@orekit.org>                <maisonobe@users.noreply.github.com>
Phil Steitz        <phil.steitz@gmail.com>         <psteitz@apache.org>
Sebastien Dinot    <sebastien.dinot@csgroup.eu>    <sebastien.dinot@c-s.fr>
Sebastian Bazley   <sebb@apache.org>               <sebb@apache.org>
Thomas Neidhart   <thomas.neidhart@gmail.com>      <thomas.neidhart@gmail.com> 
Thomas Neidhart    <thomas.neidhart@gmail.com>     <tn@apache.org>
Thomas Neidhart    <thomas.neidhart@gmail.com>     <tn@tn-desktop.(none)>
